.whole-body {
    font-family: Arial, Helvetica, sans-serif;
    height: 100vh;
}

.body{
    align-items: center;
    position: absolute; /* or relative, depending on your layout */
    top: 50%;
    left: 50%;
    height: 100vh;
    margin-top: 50px;
    transform: translate(-50%, -50%); 
}

.body h1{
    font-weight: bold;
    font-size: 50px;
    text-align: center;
    color: #2b2c2c;
    padding-top: 30px;
    padding-bottom: 10px;
}

.body h2{
    font-size: 20px;
}

.content{
    display: flex;
}

.content p{
    margin-left: 10px;
}

.content img{
    height: 200px;
    width: 200px;
}



